body{
margin:0;
font-family:Arial;
}

.app{
text-align:center;
padding:40px;
transition:0.3s;
background:#f4f4f4;
min-height:100vh;
}

.app.dark{
background:#111;
color:white;
}

.counter{
margin-top:40px;
}

.buttons{
margin-top:20px;
}

.btn{
padding:12px 20px;
margin:10px;
font-size:18px;
border:none;
border-radius:8px;
cursor:pointer;
transition:0.2s;
}

.btn:hover{
transform:scale(1.1);
}

.btn:active{
transform:scale(0.9);
}

.inc{
background:#22c55e;
color:white;
}

.dec{
background:#ef4444;
color:white;
}

.reset{
background:#2563eb;
color:white;
}

.themeBtn{
padding:10px 20px;
border:none;
background:#6366f1;
color:white;
border-radius:6px;
cursor:pointer;
}